.astro
debug/
logs/
**/_
**/node_modules
**/build
**/dist
**/.release
**/.astro
**/.obsidian
**/.vscode
**/__pycache__
**/.pytest_cache
**/*.pyc
**/*.env
**/*.zip
**/*.log
**/*.001
**/*.002
**/*.003
**/*.1
**/*.2
**/*.3
**/*.ttf
**/*.tgz
**/*.bat
**/*.ps1